{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nevin M -portfolio-website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a href="https://www.linkedin.com/in/nevin-m-5a4952217">
          <img
            src="../static/images/linkedin.png "
            alt="linked-in-logo"
            width="30"
            height="24"
            class="image-logo d-inline-block align-text-top"
          />
        </a>

        <a href="https://github.com/nevin03">
          <img
            src="../static/images/github.png"
            alt="github-logo"
            width="30"
            height="24"
            class="image-logo d-inline-block align-text-top"
          />
        </a>

        <a href="mailto:nevinm2021@gmail.com">
          <img
            src="../static/images/gmail.png"
            alt=" gmail-logo"
            width="30"
            height="24"
            class="image-logo d-inline-block align-text-top"
          />
        </a>

        <a href="https://x.com/nvn_190?t=nUFeX-caYju1Mfhmikh99A&s=09">
          <img
            src="../static/images/twitter.png"
            alt=" twitter-x-logo"
            width="30"
            height="24"
            class="image-logo d-inline-block align-text-top"
          />
        </a>
      </div>
    </nav>

    {%for i in key%}

    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="sub col-md-3">
            <div class="image">
              <img
                src="{{i.image.url}}"
                alt="nevin_image"
                class="rounded-circle img-fluid"
              />
            </div>
          </div>
          <div class="text-main col-md-9">
            <div class="name"><span>Nevin M</span></div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="text-primary">Education</span> :<span>
                  Bachelor's student in Electronics and Communication
                </span>
              </li>
              <li class="list-group-item">
                <span class="text-primary">Relevant Skills</span> :<span>
                  {{i.Relevent_skill}}</span
                >
              </li>
              <li class="list-group-item">
                <span class="text-primary">Communication Languages</span>
                :<span> English , Hindi , Malayalam </span>
              </li>
              <li class="list-group-item">
                <span class="text-primary">Interests</span>:
                <span>Passionate about Blockchain Technology</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary">Professional Development</span> :
                <span> {{i.Professional_Development}}</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary">Works</span> :
                <span>{{i.works}} </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
